{   
    "presets": [
        ["@babel/preset-env", {
        	"useBuiltIns": "usage",
        	"corejs": 3.16,
        	"modules": false,
            "targets": "last 2 versions, ie 11"
        }]
    ]
}